/* line 4, ../scss/style.scss */
html, body {
  margin: 0;
}

/* line 8, ../scss/style.scss */
.container {
  width: 700px;
  margin: 0 auto;
  background-color: #55c3ff;
}
@media only screen and (max-width: 700px) {
  /* line 8, ../scss/style.scss */
  .container {
    width: 100%;
  }
}

/* line 18, ../scss/style.scss */
fieldset {
  margin-bottom: 30px;
  background-color: #eef9ff;
  border: 0;
}
/* line 23, ../scss/style.scss */
fieldset legend {
  padding: 7px 14px 27px;
  background-color: #eef9ff;
  border-radius: 5px;
}

/* line 30, ../scss/style.scss */
p {
  margin-top: 0;
}

/* line 34, ../scss/style.scss */
pre {
  margin: 0 0 20px;
  padding: 10px;
  background-color: white;
}

/* line 40, ../scss/style.scss */
.filter {
  margin-bottom: 30px;
}

/* line 45, ../scss/style.scss */
.honeycombs {
  counter-reset: section;
  transition: all 500ms;
  position: relative;
  margin-bottom: 30px;
}

/* line 52, ../scss/style.scss */
.hex {
  transition: all 500ms;
  width: 100px;
  height: 87px;
  cursor: pointer;
}
/* line 59, ../scss/style.scss */
.hex:before {
  counter-increment: section;
  content: counter(section);
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  transform: translate(-50%);
  color: #fff;
  line-height: 0;
}
/* line 72, ../scss/style.scss */
.hex:hover img {
  opacity: 1;
}
/* line 77, ../scss/style.scss */
.hex.disabled {
  opacity: 0;
  visibility: hidden;
}
/* line 83, ../scss/style.scss */
.hex.yellow:before {
  color: #000;
}
/* line 88, ../scss/style.scss */
.hex.hex-30 {
  width: 100px;
  height: 115px;
}
/* line 93, ../scss/style.scss */
.hex.hex-30.numbers:before {
  counter-increment: section;
  content: counter(section);
}
/* line 100, ../scss/style.scss */
.hex.hex-30.letters:before {
  content: 'asdf';
}
/* line 106, ../scss/style.scss */
.hex img {
  opacity: .7;
}
/* line 110, ../scss/style.scss */
.hex svg {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 10;
}

/* line 169, ../scss/style.scss */
.cell-inner {
  transition: all 500ms;
  opacity: .75;
  background-color: #404040;
  cursor: pointer;
}
/* line 175, ../scss/style.scss */
.cell-inner:hover {
  transition: opacity 0s;
  opacity: 1;
}

/* line 181, ../scss/style.scss */
.cell-h {
  overflow: hidden;
  width: 100px;
  height: 87px;
  transform: rotate(60deg);
}
/* line 144, ../scss/style.scss */
.cell-h .cell-middle {
  overflow: hidden;
  width: 100px;
  height: 87px;
  transform: rotate(-120deg);
}
/* line 151, ../scss/style.scss */
.cell-h .cell-inner {
  overflow: hidden;
  width: 100px;
  height: 87px;
  transform: rotate(60deg);
}
/* line 158, ../scss/style.scss */
.cell-h img {
  position: relative;
  top: 50%;
  transform: translatey(-50%);
}

/* line 185, ../scss/style.scss */
.cell-v {
  overflow: hidden;
  width: 100px;
  height: 114.9px;
  transform: rotate(0deg);
}
/* line 144, ../scss/style.scss */
.cell-v .cell-middle {
  overflow: hidden;
  width: 100px;
  height: 114.9px;
  transform: rotate(-60deg);
}
/* line 151, ../scss/style.scss */
.cell-v .cell-inner {
  overflow: hidden;
  width: 100px;
  height: 114.9px;
  transform: rotate(120deg);
}
/* line 158, ../scss/style.scss */
.cell-v img {
  position: relative;
  top: 50%;
  transform: translatey(-50%) rotate(-60deg);
}
/* line 188, ../scss/style.scss */
.cell-v img {
  display: none;
}
