$dura: 500ms;
$main_color: #55c3ff;

html, body {
	margin: 0;
}

.container {
	width: 700px;
	margin: 0 auto;
	background-color: $main_color;

	@media only screen and (max-width: 700px) {
		width: 100%;
	}
}

fieldset {
	margin-bottom: 30px;
	background-color: lighten($main_color, 30);
	border: 0;

	legend {
		padding: 7px 14px 27px;
		background-color: lighten($main_color, 30);
		border-radius: 5px;
	}
}

p {
	margin-top: 0;
}

pre {
	margin: 0 0 20px;
	padding: 10px;
	background-color: lighten($main_color, 40);
}

.filter {
	margin-bottom: 30px;
}


.honeycombs {
	counter-reset: section;
	transition: all $dura;
	position: relative;
	margin-bottom: 30px;
}

.hex {
	$width: 100px;
	transition: all $dura;
	width: $width;
	height: $width * .87;
	cursor: pointer;

	&:before {
		counter-increment: section;
		content: counter(section);
		position: absolute;
		left: 50%;
		top: 50%;
		z-index: 1;
		transform: translate(-50%);
		color: #fff;
		line-height: 0;
	}

	&:hover {
		img {
			opacity: 1;
		}
	}

	&.disabled {
		opacity: 0;
		visibility: hidden;
	}

	&.yellow {
		&:before {
			color: #000;
		}
	}

	&.hex-30 {
		width: 100px;
		height: 115px;

		&.numbers {
			&:before {
				counter-increment: section;
				content: counter(section);
			}
		}

		&.letters {
			&:before {
				content: 'asdf';
			}
		}
	}

	img {
		opacity: .7;
	}

	svg {
		position: absolute;
		left: 0;
		top: 0;
		z-index: 10;
	}
}


@mixin hex($width, $name_space, $orientation: horizontal) {
	// Variables initialization
	$rot_outer: 60;
	$rot_middle: -120;
	$rot_inner: 60;
	$w: 0;
	$h: 0;

	@if $orientation == horizontal {
		$w: $width;
		$h: $width * .87;
	} @else if $orientation == vertical {
		$w: $width;
		$h: $width * 1.149;
		$rot_outer: 0;
		$rot_middle: -60;
		$rot_inner: 120;
	}

	// Styles
	overflow: hidden;
	width: $w;
	height: $h;
	transform: rotate(#{$rot_outer}deg);

	.#{$name_space}-middle {
		overflow: hidden;
		width: $w;
		height: $h;
		transform: rotate(#{$rot_middle}deg);
	}

	.#{$name_space}-inner {
		overflow: hidden;
		width: $w;
		height: $h;
		background-color: lighten(#000, 25);
		transform: rotate(#{$rot_inner}deg);
		cursor: pointer;
	}

	img {
		position: relative;
		top: 50%;
		@if $orientation == horizontal {
			transform: translatey(-50%);
		} @else if $orientation == vertical {
			transform: translatey(-50%) rotate(-60deg);
		}
	}
}

.cell-inner {
	transition: all $dura;
	opacity: .75;

	&:hover {
		transition: opacity 0s;
		opacity: 1;
	}
}

.cell-h {
	@include hex(100px, cell);
}

.cell-v {
	@include hex(100px, cell, vertical);

	img {
		display: none;
	}
}